@charset "UTF-8";
  /*공통으로 적용 될거*/
body{
    /* box-sizing: border-box; */
    /* background-color: black; */
    margin: 0px;
}

div{
    /* border: 1px solid white; */
    color : white;
    /* vertical-align: middle; */
}
select {
    color: rgb(159, 159, 159);
    font-size: 12px;
    background: transparent;
    display: inline-block;
    border-style: none;
	outline: none;
}
select option{
	color: white;
	background-color: black;
}
select:hover{
	color: white;
	cursor: pointer;
}
img{
    border-radius: 12px;
}

.a1{
    text-decoration: none;
    color: white;
}

/*메뉴 상단바*/
header{
    background-color: black;
    color: white;
    width: 100%;
    position:fixed;
    height: 53px;
    border-bottom:1px solid rgb(70, 70, 70);
    z-index: 1;
    transition: opacity 0.4s;
}

/*홈, 인기차트, 보관함, 검색창 있는 div박스*/
#menu{
    margin: 0;
    background-color: black;
}

.menu-box{
    display: inline-block;
    position:absolute;
    left: 50%;
    top: 10px;
}
.main{
    color: rgb(159, 159, 159);
    font-size: 20px; 
    font-weight: 600;
    margin: 0px 13px;
}

.main_1:hover{
    color: white;
    cursor: pointer;
}
.main_2:hover{
    color: white;
    cursor: pointer;
}
.main_3:hover{
    color: white;
    cursor: pointer;
}
.main_4:hover{
    color: white;
}

.main-box{
    display: inline-block;
    height: 32px;
    width:250px;
    border: 1px solid rgb(98, 98, 98);
    background-color: transparent;
}
.main-box:hover{
    border: 1px solid rgb(176, 176, 176);
}
.logo-img{
	width:50px;
	height:50px;
}
/*검색 입력창*/
.search-txt::placeholder{
    font-size: 18px;
    font-weight: 600;
}
.search-txt::placeholder:hover{
    color:rgb(172, 172, 172);
}

.search-txt{
    width: 150px;
    padding: 10px;
    border: 0px;
    outline:none;
    background-color: transparent;
    color: white;
    
}
/*검색 버튼*/
.search-btn{
    border : 0px;
    width: 44px;
    height: 100%;
    float:right;
    outline:none;
    background-color: rgb(45, 45, 45);
    color: rgb(159, 159, 159);
    cursor: pointer;
    font-weight: 600;
}

.search-btn:hover{
    color: rgb(206, 206, 206);
    background-color: rgb(91, 91, 91);
}

/*프로필사진*/
.menu-img{
    width: 38px;
    float: right;
    border-radius: 70%;
    margin: 6px 14px;
}
#di{
	margin-top:55px; 
	margin-right:10%; 
	WIDTH: 99%;
	HEIGHT:100PX; 
	text-align: right; 
	display: inline-block;	
}
.at:hover{
    color: white;
    cursor: pointer;
}